---
import { SITE } from 'astrowind:config';
---

<span class="brand-lockup" aria-label={SITE?.name}>
  <svg class="brand-mark" viewBox="0 0 120 120" aria-hidden="true">
    <path d="M16 12h68v18H34v60h18V48h48v18H70v42H16z" />
    <path d="M88 12h16v96H88z" />
  </svg>
  <span class="brand-wordmark">
    <span>BrightPath</span>
    <span>Marketing</span>
  </span>
</span>
